main {
  .container_homePage {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hello_icon {
      height: 100px;
      width: 100px;
      margin: 20px 0;
    }

    .welcone_text {
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 20px;
      font-weight: 600;
      margin: 0;

      .smile_icon_link {
        cursor: pointer;
      }
    }
  }
}
